{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <div style="width: 100%; text-align: center;">
        <div>Deleting {{ script.get_cleaned_composition_count }} cleaned composition record(s) from cleaning script {{ script.title }}, please wait...</div>
        <input type="hidden" id="task_id" value="{{ task.id }}"/>
        <input type="hidden" id="redirect_to" value="{{ redirect_to }}"/>
        <div style="padding-top: 50px;">
            <div class="fas fa-4x fa-spinner fa-spin"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/dashboard/delete_progress.js' %}"></script>
{% endblock %}