{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Functional Use Category {{ functional_use_category.id }}: {{ functional_use_category }}{% endblock %}

{% block content %}
    <h1>
        <span id="puc_gen_cat">{{ functional_use_category.title }}</span>
    </h1>

    <dl class="row pt-4">
        <dt class="col-1">Description</dt>
        <dd class="col-11" id="functional_use_category"> {{ functional_use_category.description }}</dd>
    </dl>

    <div class="row pt-4">
        <div class="col-6" id="fuc_stats">
            <h4>Additional Statistics</h4>
            <dl class="row">
                <dt class="col-6">Products</dt>
                <dd class="col-6"><a href="#tables" onclick="activateTable('#product-tab-header')">{{ functional_use_category.product_count }}</a></dd>
                <dt class="col-6">Documents</dt>
                <dd class="col-6"><a href="#tables" onclick="activateTable('#document-tab-header')">{{ functional_use_category.document_count }}</a> </dd>
                <dt class="col-6">Chemicals</dt>
                <dd class="col-6"><a href="#tables" onclick="activateTable('#chemical-tab-header')">{{ functional_use_category.chemical_count }}</a></dd>
            </dl>
        </div>
    </div>

    <div class="col-lg-12 p-0" id="tables">
        <ul class="row nav nav-pills mb-3">
            <li class="col-lg-4 nav-item h-nav border rounded p-0">
                <a class="nav-link text-center active"
                   data-toggle="pill"
                   href="#product-table-div"
                   id="product-tab-header">
                    <b>Products</b>
                </a>
            </li>
            <li class="col-lg-4 nav-item h-nav border rounded p-0">
                <a class="nav-link text-center" 
                   data-toggle="pill" 
                   href="#document-table-div"
                   id="document-tab-header">
                    <b>Documents</b>
                </a>
            </li>
            <li class="col-lg-4 nav-item h-nav border rounded p-0">
                <a class="nav-link text-center" 
                   data-toggle="pill" 
                   href="#chemical-table-div"
                   id="chemical-tab-header">
                    <b>Chemicals</b>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane container p-0 active" id="product-table-div">
                <h4>Products Assigned To "{{ functional_use_category }}"</h4>
                <table class="table table-striped dataTable no-footer table-sm" 
                    data-functional_use_category="{{ functional_use_category.id }}"
                    id="products">
                    <thead >
                    <tr>
                        <th>Title</th>
                        <th>Data Document</th>
                        <th>PUC</th>
                        <th>Classification Method</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="tab-pane container p-0 fade" id="document-table-div">
                <h4>Documents Associated with "{{ functional_use_category }}"</h4>
                <table class="table table-striped  dataTable no-footer table-sm" 
                    data-functional_use_category="{{ functional_use_category.id }}"
                    id="documents">
                    <thead >
                    <tr>
                        <th>Data Group Type</th>
                        <th>Document</th>
                        <th>Document Date</th>
                        <th>Reported Functional Use</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="tab-pane container p-0 fade" id="chemical-table-div">
                <h4>Chemicals Associated with "{{ functional_use_category }}"</h4>
                <table class="table table-striped  dataTable no-footer table-sm"
                    data-functional_use_category="{{ functional_use_category.id }}"
                    id="chemicals">
                    <thead >
                    <tr>
                        <th>DTXSID</th>
                        <th>Preferred CAS</th>
                        <th>Preferred Name</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    <link href="{% static 'css/dashboard/grid_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{% static 'js/dashboard/functional_use_category_detail.js' %}"></script>
{% endblock %}
