beautifulsoup4==4.8.1
black==19.3b0
celery[redis]>=4.4.0,<5.0.0
certifi
Django>=2.2.17,<2.3
django-autocomplete-light==3.3.2
django-bootstrap-datepicker-plus==3.0.5
django-cacheops==5.1
django-cleanup>=5.0.0,<5.1
django-crum==0.7.3
django-datatables-view==1.19.1
django-db-views>=0.0.9
django-debug-toolbar==1.11.1
django-docs==0.3.1
django-extensions>=2.1.6
django-model-utils>=3.1
django-prometheus>=2.0.0
django-redis>=4.11.0,<4.12
django-queryset-csv>=1.0.0
django-taggit<1
django-widget-tweaks>=1.4.1
django-ckeditor==6.1.0
docutils>=0.12
elasticsearch>=7.0.0,<8.0.0
elasticsearch-dsl>=7.0.0,<8.0.0
django-elasticsearch-dsl>=7.1.4,<8.0.0
fuzzywuzzy>=0.17.0
gitpython>=2.1.11
gunicorn>=20.0.0,<20.1.0
ipython>=7.5.0
json-logging-py==0.2
lxml>=4.2.2
mysqlclient==1.4.6
prometheus-client>=0.8.0
pyflakes==2.1.1
python-dotenv>=0.10.3,<0.11
pytz==2018.9
requests==2.25.1
selenium>=3.14.0
Sphinx==2.2.1
sphinx-rtd-theme==0.4.3
urllib3==1.26.5
wincertstore==0.2
zipstream==1.1.4
six>=1.12.0,<1.13
uritemplate>=3.0.0,<3.1
whitenoise>=4.1.4,<4.2.0
python-logstash==0.4.6
django-filter>=2.2.0,<2.3
django-mysql>=3.3.0,<3.4
djangorestframework>=3.11.2
djangorestframework-jsonapi==3.1.0
drf-yasg>=1.20.0
PyYAML>=5.4.1
Pillow==8.2.0
factory-boy==2.12.0
# Regular jsonnet for supported platforms
jsonnet==0.16.0; sys_platform == 'linux' or sys_platform == 'darwin'  # https://github.com/google/jsonnet
# Experimental binary release of jsonnet for Windows
jsonnetbin==0.16.0; sys_platform == 'win32' or sys_platform == 'cygwin' or sys_platform == 'msys'  # https://github.com/mcovalt

-e git+https://github.com/bennylope/django-taggit-labels.git@7afef34125653e958dc5dba0280904a0714aa808#egg=django_taggit_labels
