{% extends 'core/base.html' %}
{% load staticfiles %}
{% block title %}Functional Use Curation{% endblock %}
{% block content %}

    <h1>
        <span>Functional Use Curation</span>
    </h1>
    <div class="row pt-2 pb-4">
        <div class="col-12">Select a Harmonized Category cell to update. Follow the Chemical Count link to view associated chemicals.</div>
    </div>
    <div class="row">
        <div class="col-4"><input type="text" id="filter-text-box" placeholder="Search..."></div>
        <div class="col-4"><span id="results" class="btn-primary m-2"></span></div>
        <div class="col-4 text-right"><button id="filter-reset-button" class="btn btn-primary btn-sm">Reset Filters</button></div>
    </div>
    <div id="dataGrid" class="ag-theme-balham fixed-height-grid"></div>
    <div>
        Page Size:
        <select autocomplete="off" id="page-size">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50" selected>50</option>
            <option value="100">100</option>
            <option value="All">Show All</option>
        </select>
    </div>
{% endblock %}

{# dummy form for handling Ajax posts #}
<form method="POST" id="category-form">{% csrf_token %}</form>

{% block css %}
    <link href="{% static 'css/dashboard/grid_list.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    {{ form.media }}
    {{ combinations|json_script:"tabledata" }}
    {{ categories|json_script:"categorydata" }}
    <script type="module" src="{% static 'js/dashboard/functional_use_curation.js' %}"></script>
{% endblock %}

