{% extends 'core/base.html' %}
{% load static %}
{% block title %}Data Groups{% endblock %}
{% block content %}

    <h1>
        <span>Data Groups</span>
    </h1>
    <div class="header">
        <input type="text" id="filter-text-box" placeholder="Search..." oninput="onFilterTextBoxChanged()"/>
        <button onclick="clearFilters()" class="btn btn-primary btn-sm">Reset Filters</button>
    </div>
    <div id="datagroupGrid" class="ag-theme-balham" ></div>
    <div>
        Page Size:
        <select autocomplete="off" id="page-size" onchange="onPageSizeChanged()">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50" selected>50</option>
          <option value="100">100</option>
          <option value="All">Show All</option>
        </select>
    </div>

{% endblock %}

{% block css %}
    <link href="{% static 'css/dashboard/grid_list.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    {{ form.media }}
    {{ datagroups|json_script:"tabledata" }}
    <script src="{% static 'js/dashboard/datagroup_list.js' %}"></script>
{% endblock %}

