{% extends 'core/base.html' %}
{% load staticfiles %}
{% block title %}Data Group Tracking{% endblock %}
{% block content %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/dashboard/full_width_container.css' %}">
{% endblock %}

    <h1>
        <span>Data Group Tracking</span>
    </h1>

    <p class="alert-success" id="result-message"></p>

    <div class="row col-12" data-width="100%">
    <table class="table table-striped table-bordered dataTable no-footer table-sm" id="datagroups">
        <thead>
        <tr class="table-primary">
            <th>Data Source</th>
            <th>Data Group</th>
            <th>Group Type</th>
            <th>Date Updated</th>
            <th>Documents</th>
            {% for step in curationsteps %}
                <th>{{ step.name }}</th>
            {% endfor %}
            <th>Workflow Complete</th>
            <th></th>
        </tr>
        <tr>
            <th><input type="text" style="width:100%;" aria-label="search data source" placeholder="Search"></th>
            <th><input type="text" style="width:100%;" aria-label="search data group" placeholder="Search"></th>
            <th><input type="text" style="width:100%;" aria-label="search group type" placeholder="Search"></th>
            <th><input type="text" style="width:100%;" aria-label="search data updated" placeholder="Search"></th>
            <th>&nbsp;</th>
            {% for step in curationsteps %}
                <th class="search-curation-step">
                    <select name="step-status" aria-label="search {{ step.name }}">
                        <option value="" selected>Search</option>
                        <option value="incomplete">Incomplete</option>
                        <option value="complete">Complete</option>
                        <option value="n/a">N/A</option>
                    </select>
                </th>
            {% endfor %}
            <th class="search-curation-step">
                <select name="step-status" aria-label="search workflow complete">
                    <option value="" selected>Search</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for datagroup in datagroups %}
            <tr>
                <td>{{ datagroup.data_source.title }} </td>
                <td>
                    <a title="details" target="_blank"
                       href="{% url "data_group_detail" datagroup.id %}"> {{ datagroup.name }}
                    </a>
                </td>
                <td>{{ datagroup.group_type.title }} </td>
                <td data-order="{{ datagroup.updated_at|date:"c" }}">
                    {{ datagroup.updated_at|date:"M d, Y" }}
                </td>
                <td>{{ datagroup.doc_count }}</td>
                {% for step in curationsteps %}
                    <td>
                        {% with datagroup|get_current_step_status:step.id as current_status %}
                            {% if current_status == "C" %}
                                Complete
                            {% elif current_status == "N" %}
                                N/A
                            {% else %}
                                Incomplete
                            {% endif %}
                        {% endwith %}
                    </td>
                {% endfor %}
                <td>
                    {{ datagroup.workflow_complete|yesno:"Yes, No" }}
                </td>
                <td class="float-sm-center">
                    <div class="btn-group">
                        <a class="btn btn-success btn-sm" role="button" title="edit"
                           href="{% url "data_group_tracking_edit" datagroup.id %}">
                            <span class="fa fa-fs fa-edit"></span>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
<br><br>
{% endblock %}

{% block js %}
    <script src="{% static 'js/dashboard/data_group_tracking.js' %}"></script>
{% endblock %}

