{% extends 'core/base.html' %}
{% load staticfiles %}
{% block title %}Edit Data Group Workflow{% endblock %}
{% block content %}
    <h2 class="col-sm-12">
        <span name="title">
          {{ datagroup }}
        </span>
    </h2>
    <h3 class="col-sm-12">
        <span name="group_type">
          {{ datagroup.group_type }}
        </span>
    </h3>
    <br/>

    {% if datagroup.group_type.code == "CO" %}
        <div class="btn-group ml-3 mt-1 mb-4">
            <button type="button" data-toggle="modal" data-target="#confirm-modal" id="no-co-data-btn"
                    class="btn btn-warning">No Composition Data
            </button>
        </div>
        <div class="modal fade"
             id="confirm-modal"
             tabindex="-1" role="dialog"
             aria-labelledby="modalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="modalLabel">No Composition Data</h5>
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure to reset the Has Composition Data flag for all chemicals in this group
                        and set the Composition Cleaned step status to N/A?
                    </div>
                    <div class="modal-footer">
                        <button id="cancel-btn"
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal">
                            No
                        </button>
                        <form action='{% url 'data_group_no_co_data' datagroup.pk %}' method="post">
                            {% csrf_token %}
                            <button id="confirm-btn" type="submit" class="btn btn-primary">
                                Yes
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'core/bs4_form.html' with form=form colspan='col-4' %}
        <div class="button-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-secondary" href="{% url 'data_group_tracking' %}" name='cancel'>Cancel</a>
        </div>
    </form>
    <br/>
{% endblock %}