{% load i18n widget_tweaks %}
{% load staticfiles %}
<style>
    .mystical {
        display: none;
    }

    .modal-dialog {
        max-width: 720px !important;
    }
</style>
<div class="modal-dialog" role="document">
    <form action="{% url post_url form.instance.pk %}" method="post" id="chem-update" class="form">
        {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-truncate">Edit {{ form.instance }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'core/bs4_funcuse_form.html' with form=form %}
                <small class="form-text text-muted">Measurement summary statistics including value, units, and whether statistic was reported in study or calculated by data curator.</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" id="saveChem" value="Save changes"/>
            </div>
        </div><!-- /.modal-content -->
    </form>
</div><!-- /.modal-dialog -->
{{ form.media }}
<script type="text/javascript" src="{% static 'js/dashboard/tooltip.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dashboard/chemical_form.js' %}"></script>
<script>
    var form_options = {
        target: '#chemical-update-modal',
        success: function (response) {
        },
        error: function (response) {
            alert(response.responseText);
        }
    };
    $('#chem-update').ajaxForm(form_options);
</script>

