{% load widget_tweaks %}
{% load static %}
<style>
.mystical {
    display: none;
}
</style>
<div class="modal-dialog" role="document">
    <form action="{% url post_url doc.pk %}" method="post" id="chem-create" class="form">
        {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Chemical</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'core/bs4_funcuse_form.html' with form=form %}

{#                <h5>Statistical Data</h5>#}
{#                {{ stat_formset.management_form }}#}
{#                {% for stat_form in stat_formset %}#}
{#                    {% include 'core/bs4_form.html' with form=stat_form %}#}
{#                {% endfor %}#}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" id="saveChem" value="Save changes" />
            </div>
        </div><!-- /.modal-content -->
    </form>
</div><!-- /.modal-dialog -->
foobar
{{ form.media }}
end foobaring
<script type="text/javascript" src="{% static 'js/dashboard/tooltip.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dashboard/chemical_form.js' %}"></script>
<script>
    var form_options = {
        target: '#chemical-add-modal',
        success: function (response) {}
    };
    $('#chem-create').ajaxForm(form_options);
</script>
