{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}QA Summary For Extraction Script {{extractionscript.id}}: {{extractionscript.title}}{% endblock %}

{% block content %}
<h1>QA Summary: {{ extractionscript.title }}</h1>
<br>
<dl class="row">
    <dt class="col-3">QA Group</dt>
    <dd class="col-9">{{ qa_group }}</dd>
    <dt class="col-3">Total Documents</dt>
    <dd class="col-9" id="extractedtext_count">{{ extractionscript.extractedtext_count }}</dd>
    <dt class="col-3">Total Approved Documents</dt>
    <dd class="col-9" id="qa_complete_extractedtext_count">{{ extractionscript.qa_complete_extractedtext_count}}</dd>
    <dt class="col-3">Total Remaining Documents</dt>
    <dd class="col-9" id="qa_incomplete_extractedtext_count">{{ extractionscript.qa_incomplete_extractedtext_count }}</dd>
</dl>


<div class="mb-3">
    <h3>Documents</h3>
</div>
<table class="table table-striped table-bordered dataTable no-footer table-sm" id="document-table">
    <thead>
        <tr>
            <th>Document</th>
            <th>QA Note</th>
            <th>Audit Log</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center" colspan="3">
                <i class="fa fa-spinner fa-spin"></i>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal" id="document-audit-log-modal" data-backdrop="static"></div>

{% endblock %}

{% block js %}

{{ document_table_url|json_script:"document_table_url" }}
<script src="{% static 'js/dashboard/extraction_script_summary.js' %}"></script>

{% endblock %}
