/*
 *  ag-grid recommends using scss to import the theme and override elements.
 *  Without a scss framework a lot of these themes will have to be overwritten with !important tags
 *  This might remove the ability to dynamically resize things.
 */

.ag-theme-balham .ag-root {
	border: 0px solid #bdc3c7 !important;
	border-top-width: 1px !important;
}

.ag-theme-balham .ag-row {
    height: 34px !important;
}

.ag-theme-balham .ag-row-even {
    background-color: rgba(0,0,0,.05)!important;
}

.ag-theme-balham .ag-row-selected {
    background-color: #b7e4ff !important;
    border-color: #b7e4ff !important;
}

.ag-theme-balham, .ag-cell {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    padding: .3rem;
}

ag-theme-balham, .ag-header-row {
    height: 36px !important;
    background-color: #ffffff;
}

ag-theme-balham, .ag-header-cell {
    border-style: solid;
    border-width: 2px 0px 4px 0px;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    padding: .3rem;
}