{% load bs_tags %}
{% load widget_tweaks %}


<form method="post">
    {% csrf_token %}
    {{ detail_formset.management_form }}
    <ul class="list-inline factotum-control-row"
        role="group"
        aria-label="Extracted child record editing controls">
        <li class="list-inline-item">
            <button type="button"
                    id="btn-toggle-edit"
                    data-toggle="button"
                    class="btn btn-secondary"
                    onclick="toggleDetailEdit(true)">
                <span id="btn-toggle-label" class="fa fa-wrench"></span>
                Edit {{ doc.data_group.group_type }} Records
            </button>
        </li>
        <li class="list-inline-item">
            <button type="submit"
                    id="save"
                    name="save"
                    class="btn btn-primary detail-control"
                    role="button">Save edits
            </button>
        </li>
    </ul>
    <div id="accordion">
        {% for form in detail_formset.forms %}
            <div class="card mb-2 chemical-card">
                <div class="card-header">
                    <button class="btn btn-link mb-0 mt-0 float-left"
                            type="button"
                            id="chem-card-{{ form.rawchem_ptr.value }}"
                            data-toggle="collapse"
                            data-target="#chem{{ form.rawchem_ptr.value }}"
                            aria-expanded="true">
                        {% if form.instance.raw_chem_name %}
                            <span class="fas fa-flask"></span>
                            {{ form.instance.raw_chem_name|truncatechars:133 }}
                        {% elif forloop.last %}
                            <span class="fa fa-fs fa-plus"></span>
                            Add New Chemical
                        {% else %}
                            <span class="fas fa-flask"></span>
                            Chemical {{ forloop.counter }}
                        {% endif %}
                    </button>
                    {% if form.instance.component %}
                        <span id="component-{{ form.rawchem_ptr.value }}"
                              class="float-right mb-0 mt-2"
                              title="Component"
                              data-toggle="tooltip">{{ form.instance.component }}</span>
                    {% endif %}
                </div>
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                <div id="chem{{ form.rawchem_ptr.value }}"
                     class="collapse"
                     aria-labelledby="headingOne"
                     data-parent="#accordion">
                    <div class="card-body d-flex flex-wrap">
                        {% for field in form.visible_fields %}
                            <div class="col-lg-4 {%  if not forloop.last %}mb-4{% endif %}">
                                {{ field.label|capfirst }}
                                {% if field.errors %}
                                    {{ field|add_class:"is-invalid detail-control form-control" }}
                                    <small class="text-danger">
                                        {{ field.errors.as_text }}
                                    </small>
                                {% else %}
                                    {% with classes="detail-control form-control "|add:doc.data_group.type %}
                                        {% render_field field class+=classes %}
                                    {% endwith %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="card-footer text-right">
                        {% if form.instance.updated_at and form.rawchem_ptr.value %}
                        <small class="text-muted float-right font-italic">
                            <a id="chemical-audit-log-{{ form.rawchem_ptr.value  }}"
                               title="audit log"
                               href="{% url 'chemical_audit_log' form.rawchem_ptr.value  %}"
                               data-toggle="modal"
                               data-target="#chemical-audit-log-modal">
                                Last updated: {{ form.instance.updated_at|timesince }} ago
                            </a>
                        </small>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</form>

<div class="modal" id="chemical-audit-log-modal" data-backdrop="static"></div>
