#documents-wrapper, #products-wrapper {
    width: 100%;
}

#documents-info, #products-info {
    display: none;
}

.nestedcircles {
    transition: transform 1s;
    margin-bottom: 20px;
}

.nestedcircles.trans-bubble {
    transform: translate(0, -1500px);
}

.trans-table {
    transform: translate(0, 947px);
}
