.card-header {
    background-color: #ffffff
}

.slider-tick-label {
    font-weight: bold;
    font-size: large;
}

.slider.slider-horizontal .slider-tick {
    top: -2px;
    width: 2px;
    height: 24px;
    background-image: linear-gradient(to bottom, #C9C9C9 0, #C5C5C5 100%);
    margin-left: -1px;
    border-radius: 0;
}

.tooltip.in {
    opacity: 1;
}

.slider.slider-disabled .slider-handle {
    background-color: #337ab7;
    background-image: -webkit-linear-gradient(top, #337ab7 0, #2e6da4 100%);
    background-image: -o-linear-gradient(top, #337ab7 0, #2e6da4 100%);
    background-image: linear-gradient(to bottom, #337ab7 0, #2e6da4 100%);
}

.slider.slider-disabled .slider-track {
    cursor: default;
    border-radius: 0px;
}