{% extends 'core/base.html' %}
{% load staticfiles %}
{% load tags %}

{% block title %}Factotum Error: Status 401{% endblock %}

{% block content %}
    <div class="section">
        <img alt="Error Status 401 Image" src="{% static 'images/401.png' %}">
    </div>
{% endblock %}

{%  block css %}
    <style type="text/css">
        .section {
            padding: 1em;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
    </style>
{% endblock %}
