{% extends 'data_document/cards/card_base.html' %}

{% block cards %}

    <div id="cards"
         data-spy="scroll"
         data-target="#chem-scrollspy"
         data-offset="10">

        {% include "data_document/cards/card_pagination.html" with chemicals=chemicals only %}

        {% for hp in chemicals %}
            <div class="card mt-2" id="chem-card-{{ hp.pk }}">
                <div class="card-body shadow rounded"
                     id="chem-click-{{ hp.pk }}"
                     data-chem-id="{{ hp.pk }}"
                >
                    <div class="card-title border-bottom d-flex pb-1 mt-0 align-items-center">
                        <h3 class="mr-auto text-truncate" title="{{ hp.product_surveyed }}" data-toggle="tooltip"
                            data-placement="bottom">
                            {{ hp.product_surveyed }}
                        </h3>
                        {% if doc.detail_page_editable and request.user.is_authenticated %}
                            <div class="btn-group btn-group-sm"
                                 id="chem-card-{{ hp.pk }}-buttons">
                                <button class="btn btn-outline-secondary hover-success"
                                        id="chemical-update-{{ hp.pk }}"
                                        title="edit"
                                        href="{% url 'ehp_update' hp.pk %}"
                                        data-toggle="modal"
                                        data-target="#chemical-update-modal"
                                        value="{{ hp.pk }}"
                                        style="z-index: 290;"> <!-- z-index workaround for selenium/webdriver bug -->
                                    <span class="fa fa-fs fa-edit"></span>
                                </button>
                                <button class="btn btn-outline-secondary hover-danger"
                                        id="chemical-delete-{{ hp.pk }}"
                                        title="delete"
                                        role="button"
                                        data-toggle="modal"
                                        data-target="#chem-delete-{{ hp.pk }}">
                                    <span class="fa fa-fs fa-trash"></span>
                                </button>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-text">
                        <div>{{ hp.data_type }}</div>
                        <div class="mt-2">Tags</div>
                        <div class="p-2 row">
                            {% for tag in hp.tags.all %}
                                <div class="col-6">
                                    {% include 'data_document/hp_tag_buttons.html' %}
                                </div>
                            {% empty %}
                                <div class="col-12">Not associated with any Tags</div>
                            {% endfor %}
                        </div>
                        <div>PUCs</div>
                        <div class="list-unstyled p-2">
                            {% for puc in hp.PUCs.all %}
                                <div>{{ puc }}</div>
                            {% empty %}
                                <div>Not associated with any PUCs</div>
                            {% endfor %}
                        </div>
                        <div>{{ hp.notes }}</div>
                    </div>
                </div>
            </div>
            <!-- delete modal-->
            <div class="modal fade"
                 id="chem-delete-{{ hp.pk }}"
                 tabindex="-1" role="dialog"
                 aria-labelledby="extextModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered"
                     role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button"
                                    class="close"
                                    data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="{% url 'ehp_delete' doc.pk hp.pk %}"
                              method="post">
                            {% csrf_token %}
                            <div
                                    class="modal-body">
                                Are you sure you want to delete "{{ hp.product_surveyed }}" ?
                            </div>
                            <div class="modal-footer">
                                <button id="chemical-modal-cancel-{{ hp.pk }}"
                                        type="button"
                                        class="btn btn-secondary"
                                        data-dismiss="modal"> Cancel
                                </button>
                                <button id="chemical-modal-save-{{ hp.pk }}"
                                        type="submit"
                                        class="btn btn-primary">
                                    Delete
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% include "data_document/cards/card_pagination.html" with chemicals=chemicals only %}

        {% if doc.is_extracted and doc.detail_page_editable and request.user.is_authenticated %}
            <!-- add hp -->
            <div class="card m-4 p-0"
                 id="add_chemical">
                <button class="btn m-0 p-0 btn-outline-secondary hover-success"
                        id="chemical-add-btn"
                        data-toggle="modal"
                        data-target="#chemical-add-modal">
                    <span class="card-body shadow rounded p-0 m-0 text-center"
                         data-toggle="tooltip"
                         title="Add Habits and Practices">
                        <span class="fa fa-fs fa-plus"></span>
                    </span>
                </button>
            </div>
            <div class="modal" id="chemical-add-modal" data-backdrop="static"
                 data-url="{% url 'ehp_create' doc.pk %}"></div>
            <div class="modal" id="chemical-update-modal" data-backdrop="static"
                 data-url="{% url 'ehp_update' 47 %}"></div>
        {% endif %}
        <div class="modal" id="chemical-audit-log-modal" data-backdrop="static"></div>
    </div>

{% endblock %}