{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}
    <h1 class="col-sm-12 p-2"><span class="fa fa-wrench" title="factotum" aria-hidden="true"></span>
        Welcome to Factotum
    </h1>
    <p>Factotum is an application for storing and curating publicly-available documents containing information on how chemicals are used and how they occur in consumer and industrial products. Factotum provides tools for EPA users to explore and download these data and the original source documents, which include consumer product composition, chemical functional use, and general chemical use information. Factotum curators and developers actively work to curate these chemical data to harmonized chemical identifiers (DTXSIDs), product use categories (PUCs), and functional use categories.</p>

    {% include "statistics/stat_cards.html" %}

    <div class="mt-lg-5 mb-3">
    {% include "news/latest_news.html" %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/dashboard/news.js' %}"></script>
{% endblock %}